@import "../../../variables.scss";

.list-inline-item .btn-outine-info {
  margin-top: 1em;
  border-radius: 25px;
  font-weight: 500;
  border-color: $pastel;
  color: $pastel;
  border-width: 2px solid $pastel;
}
