@import "../../../variables.scss";
section {
  background-color: $dark;
  padding: 0;
  margin-right: 0;
  height: 50vw;

  .carousel-captain {
    font-size: 40px;
    text-align: center;
    color: $lightest;
  }
}
