@import "../../../variables.scss";
header {
  display: flex;
  margin-top: 0.5em;
  background: $dark;
  .content {
    position: relative;
    margin-left: 0.5rem;
    padding: 0.5em;
  }
  h1 {
    color: white;
  }
}
