@import "../../../variables.scss";
header {
  display: grid;
  position: absolute;
  width: 400px;
  margin-top: 1.5em;
  background: transparent;
  .content {
    position: relative;
    margin-left: 0.5rem;
    padding: 0.5em;
  }
  h1 {
    color: white;
  }
}
