@import "../../variables.scss";
.nav {
  display: flex;
  padding: 0.2 0.8em;
  background-color: $dark;
  a {
    color: wheat;
    font-weight: bold;
    text-decoration: none;
    list-style: none;
    margin: 1em;
    padding: 0.8em;
    background-color: $paleblue;
    cursor: pointer;
    border-radius: 0.6em;
    transition: $animation;
    &:hover {
      background-color: whitesmoke;
      color: $paleblue;
    }
  }
}
