header {
  display: grid;
  position: absolute;
  width: 400px;
  margin-top: 2em;
  background: transparent;
  .content {
    position: relative;
    margin-left: 1rem;
    padding: 0.5em;
  }
  h1 {
    color: white;
  }
}
