@import "../../variables.scss";
header {
  display: flex;
  margin-top: 0.5em;
  background: $dark;
  .content {
    margin-left: 3em;
    margin-right: 3em;
    padding: 0.5em;
    align-items: flex-start;
  }
  h1 {
    color: white;
  }
}
