section {
  background: rgb(49, 48, 48);
  padding: 0;
  margin-right: -5em;
  .container {
    margin-right: 0;
    width: 75vw;
  }
  .imgContainer {
    width: 500px;
  }
  .carousel-captain {
    font-size: 40px;
    text-align: center;
    color: coral;
  }
}
